<% content_for :title, "Edit #{@client.name}" %>
<div class="mx-auto max-w-2xl px-4 py-8">
  <h1 class="mb-5 font-display text-2xl">Edit Client</h1>
  <%= render "form", client: @client, submit_label: "Save Changes" %>
</div>
