<% content_for :title, "New Client" %>
<div class="mx-auto max-w-2xl px-4 py-8">
  <h1 class="mb-5 font-display text-2xl">New Client</h1>
  <%= render "form", client: @client, submit_label: "Add Client" %>
</div>
